
/*
	Slideshow
*/

#slides {
	position:relative;
	top:0;
	left:120px;
	z-index:100;
    width: 700px;
    height: 316px;
}
#chapter_2 #slides {
    left: 0;
    height: 500px;
}

/*
	Slides container
	Important:
	Set the width of your slides container
	Set to display none, prevents content flash
*/

.slides_container {
    width:700px;
    overflow:hidden;
    position:relative;
    display:none;
    height: 280px
}
.workPanelContent .slides_container {
    height: auto;
}

/*
	Each slide
	Important:
	Set the width of your slides
	If height not specified height will be set by the slide content
	Set to display block
*/

.slides_container a {
    width:700px;
    height:280px;
    display:block;
}
#chapter_2 .slides_container a {
	height:500px;
}

.slides_container a img {
	display:block;
}

/*
	Next/prev buttons
*/

#slides .next, #slides .prev, #slides .next2, #slides .prev2 {
    position:absolute;
    top:225px;
    left:-100px;
    width:80px;
    height:31px;
    display:block;
    z-index:101;
}
    #slides .next a, #slides .prev a, #slides .next a b, #slides .prev a b, #slides .next2 a, #slides .prev2 a, #slides .next2 a b, #slides .prev2 a b {
        width:80px;
        height:31px;
        display:block;
        background: url(../img/chapter-4/arrow3.png) no-repeat 0 0;
    }
    #slides .next a, #slides .next2 a {
        background-position: -80px 0;
    }
    #slides .prev a b, #slides .prev2 a b {
        background-position: 0 -31px;
    }
    #slides .next a b, #slides .next2 a b {
        background-position: -80px -31px;
    }
#chapter_2 #slides .next, #chapter_2 #slides .prev {
    position:absolute;
    top:276px;
    left:721px;
    width:32px;
    height:18px;
    display:block;
    z-index:101;
    background: url(../img/chapter-2/arrow.png) no-repeat 0 0;
}
#chapter_2 #slides .next span, #chapter_2 #slides .prev span {
    width:32px;
    height:18px;
    display:block;
    top: 0;
    background: url(../img/chapter-2/arrow.png) no-repeat -42px -18px;
}
#chapter_2 #slides .prev span {
    background: url(../img/chapter-2/arrow.png) no-repeat 0 -18px;
}
#chapter_2 #slides .next {
    background-position: -42px 0;
}
/*#chapter_2 #slides .prev:hover {
    background-position: 0 -18px;
}
#chapter_2 #slides .next:hover {
    background-position: -42px -18px;
}*/
    #slides .next img, #slides .prev img {
        float: left;
    }
    #slides .next span, #slides .prev span {
	    position:absolute;
        font-size: 14px;
        color: #cf4a30;
        top: 36px;
        left: 0;
        line-height: 21px;
        width: 80px;
    }

#slides .next, #slides .next2 {
    left:720px;
}
#chapter_2 #slides .next {
    left:763px;
}
    #slides .next span {
	    text-align: right;
    }

/*
	Pagination
*/

.pagination {
    margin:10px auto 0 !important;
    width:45px !important;
    float: none !important;
}
#chapter_2 .pagination {
	display: none;
}

.pagination li {
	float:left;
	margin:0 2px;
	list-style:none;
    width: 11px !important;
}

.pagination li a {
	display:block;
	width:11px;
	height:0;
	padding-top:11px;
	background-image:url(../img/chapter-4/pagination.png);
	background-position:0 0;
	float:left;
	overflow:hidden;
}

.pagination li.current a {
	background-position:0 -11px;
}

/*
	Footer
*/
